Source: rapt
Section: science
Priority: optional
Maintainer: Olivier Lahaye <olivier.lahaye@cea.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: rapt
Architecture: all
Depends: ${misc:Depends}, liboscar-server (>> 6.2), apt-transport-https, apt-utils, gpg
Description: Wrapper to apt-get for clusters
 Wrapper for apt-get which extends it to deal with local package
 repositories, prepare their metadata, export them through http and install
 remove packages into chroot images (including debootstrapping).
 This functionality is required within the OSCAR clustering stack for debian
 support in the packman package manager abstraction.
